/* Estilos para tu página web */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Cambia el fondo a blanco */
    position: relative; /* Añade una posición relativa al cuerpo */
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para los enlaces del menú de navegación */
nav ul li a {
    color: #000;
    text-decoration: none;
}

/* Estilos específicos para los enlaces del menú de navegación con IDs específicos */
#inicio,
#productos,
#contacto {
    color: #000000;
}

#productos {
    text-align: center;
}

.producto {
    width: calc(25% - 20px); /* Ancho del 25% con margen de 20px entre productos */
    margin: 10px; /* Espacio entre productos */
    float: left; /* Alinea los productos hacia el lado */
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
}

/* Cambia el color de fondo de los botones de morado a blanco */
button {
    background-color: #fff;
    color: #000;
}

/* Estilos para el texto de derechos reservados */
footer {
    position: absolute; /* Posición absoluta con respecto al cuerpo */
    bottom: -720px; /* Ajusta la distancia desde la parte inferior */
    right: 100px; /* Ajusta la distancia desde la derecha */
    color: #111111fb; /* Color de texto blanco */
}

/* Estilos para el reloj */
#reloj {
    font-family: Arial, sans-serif; /* Utiliza una fuente legible */
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #333; /* Color de texto más oscuro */
    background-color: #fff; /* Fondo blanco */
    padding: 15px 20px; /* Espacio interno alrededor del reloj */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centra el texto */
    width: fit-content; /* Ajusta el ancho automáticamente al contenido */
    position: fixed; /* Posición fija en la esquina superior izquierda */
    top: 20px; /* Espacio desde la parte superior */
    left: 20px; /* Espacio desde la izquierda */
    z-index: 1000; /* Asegura que el reloj esté por encima de otros elementos */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

/* Estilos para cuando se pasa el mouse sobre el reloj */
#reloj:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}
